/**************************** button ****************************/

button { 
	font-family: Arial; 
	size: 12px; 
	color: #000000;
	font-weight: normal;
	padding-bottom: 20px; 
	float: left;
	
}

/**************************** slider ****************************/

div {
    border: 1px solid black;
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 32px;
    width: 500px;
}

ul { 
    margin: 0;
    padding: 0;
    position: relative;
    width: 2500px;
}

li { 
	list-style-type: none;
	position: relative;
	float: left;
	left: 0;
}
